.showborders table > * > * > *
{
    border-left: solid #808080 1px !important;
    border-top: solid #808080 1px !important;
}
.showborders table
{
    border-right: solid #808080 1px !important;
    border-bottom: solid #808080 1px !important;
}
.edit-control, .search-control, .filter-control, .view-control, .dashboard-element
{
    display: inline-block;
    vertical-align: middle;
    border: #c0c0c0 1px solid;
    padding: 3px;
    text-indent: 18px;
    line-height: 1;
    background-color: #FFFF99;
    background-position: 3px 1px;
    background-repeat: no-repeat;
}
.plugin-preview
{
    vertical-align: middle;
    display: inline-block;
    border: #c0c0c0 1px solid;
    padding: 2px 2px 2px 2px;
    background-color: #FFFF99;
    background-position: top left;
    background-repeat: no-repeat;
}
.simple-xt-tag
{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    border: #c0c0c0 1px solid;
    padding: 1px 3px;
    background-color: #FFFF99;
    font-family: Verdana;
    font-size: 9pt;
    font-weight: normal;
    color: black;
}
.edit-control, .search-control
{
    padding: 3px;
    border-radius: 1px;
    border: 1px solid #c3c2c2;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    background-position: 3px 1px;
}
.rnr-control .edit-control
{
    padding: 5px;
    border-radius: 3px;
    background-position: 5px 3px;
}
.function-login .edit-control
{
    width: 200px;
}
.crossTabFieldsPreview
{
    border: 1px solid silver;
    background-color: #ffffff;
}
.crossTabFieldsPreview th.runner-cc > span
{
    font-weight: bold;
}
.crossTabFieldsPreview th, .crossTabFieldsPreview td
{
    padding: 0;
    border: 1px solid silver;
    vertical-align: top;
}
.crossTabFieldsPreview th
{
    padding: 5px;
}
.crossTabFieldsPreview .fieldPreviewBox
{
    display: block;
    padding: 6px 5px 5px 5px;
    vertical-align: top;
    border-bottom: 1px solid silver;
    position: relative;
    bottom: -1px;
    margin-top: -1px;
}

.crossTabFieldsPreview .fieldPreviewBox:hover
{
    background: silver;
}

.crossTabFieldsPreview .fieldPreviewBox .view-control
{
    font-size: 12px;
    line-height: 12px;
    padding: 2px 5px 3px 2px;
    display: block;
}

.crossTabFieldsPreview .fieldPreviewBox .view-control:hover
{
    cursor: pointer;
}

.dashelbody
{
    min-width: 200px;
    min-height: 100px;
}

#runner_ve_tooltip
{
    position: absolute;
    border: solid black 1px;
    border-radius: 5px;
    color: black;
    background: rgb(252,254,245);
    padding: 5px;
    opacity: 0.8;
    z-index: 1000;
    transition: opacity 1s ease-in-out;
}

#runner_ve_tooltip.hidden
{
    opacity: 0;
    display: none;
}

.ff-gridlinesparent > .rnr-ff-container
{
	background-image: linear-gradient(0deg, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 10%, transparent 11%, transparent)
	, linear-gradient(90deg,  rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, .15) 10%, transparent 11%, transparent) !important;
	background-size: 10px 10px !important;
}
.ff-gridlinesparent
{
	background: white !important;
}

.rnr-ff-vcwrap {
	overflow: visible !important;
	padding: 0 !important;
}

.rnr-ff-cwrap:focus, .ff-focus
{
	/*
    box-shadow: 0 0 5px 2px #66FF00;
	cursor: move;
	z-index: 1000;
	*/
}

.rnr-ff-cwrap > .simple-xt-tag, .rnr-ff-cwrap  > table
{
	height: calc(100% - 4px);
	width: calc(100% - 8px);
}

.rnr-ff-cwrap  .rnr-ff-text
{
	margin: 8px;
	height: calc(100% - 16px);
	width: calc(100% - 16px);
}

.ff-focus .ff-knob, .ff-knob.area
{
	display: inline-block;
	width: 5px !important;
	height: 5px !important;
	background: white;
	border: solid black 1px;
	position: absolute;
}

.ff-focus  .ff-knob.knob1 {
	left: -9px;
	top: -9px;
	cursor: nwse-resize;
}

.ff-focus  .ff-knob.knob3 {
	right: -9px;
	top: -9px;
	cursor: nesw-resize;
}

.ff-focus  .ff-knob.knob5 {
	right: -9px;
	bottom: -9px;
	cursor: nwse-resize;
}

.ff-focus  .ff-knob.knob7 {
	left: -9px;
	bottom: -9px;
	cursor: nesw-resize;
}

.ff-focus  .ff-knob.knob8 {
	left: -9px;
	cursor: ew-resize;
	top: calc( 50% - 3px);

}

.ff-focus  .ff-knob.knob4 {
	right: -9px;
	vertical-align:middle;
	cursor: ew-resize;
	top: calc( 50% - 3px);
}

.ff-focus  .ff-knob.knob2 {
	top: -9px;
	vertical-align:middle;
	cursor: ns-resize;
	left: calc( 50% - 3px);
}

.ff-focus  .ff-knob.knob6 {
	bottom: -9px;
	vertical-align:middle;
	cursor: ns-resize;
	left: calc( 50% - 3px);
}

/************/
.area.ff-knob
{
	z-index: 1000;
}

.area.ff-knob.knob1 {
	cursor: nwse-resize;
}
.area.ff-knob.knob3 {
	cursor: nesw-resize;
}

.area.ff-knob.knob5 {
	cursor: nwse-resize;
}

.area.ff-knob.knob7 {
	cursor: nesw-resize;
}

.area.ff-knob.knob8 {
	cursor: ew-resize;

}

.area.ff-knob.knob4 {
	cursor: ew-resize;
}

.area.ff-knob.knob2 {
	cursor: ns-resize;
}

.area.ff-knob.knob6 {
	vertical-align:middle;
	cursor: ns-resize;
}
/************/
.rnr-ff-disabled-rect{
	background-color: black;
	opacity: 0.4;
}

td div.field_black, .rnr-ff-container div.field_black {
	color: black;
}

td font[color] div.field_black, .rnr-ff-container .rnr-ff-cwrap[style~="color:"] > div.field_black {
	color: inherit;
}

.bs-invisible-button {
    visibility: visible !important;
}

.rnr-ff-container .rnr-ff-cwrap > *:not(.ff-knob)
{
	box-sizing: content-box !important;
}

.btn
{
	-webkit-user-select:text !important;
	-moz-user-select:	text !important;
	-ms-user-select:	text !important;
	user-select:		text !important;
}

.bs-welcome-item, .bs-welcome h2  {
	cursor: pointer;
}

.bs-welcome-item:hover {
	box-shadow: 5px 5px 2px lightgray;
}

.bs-flexgrid_no_media .bs-gridcell:before {
    display: none;
}

.bs-underheader .sidebar {
	position: static !important;
}

.field_events_exists {
	font-weight: bold !important;
}

/*
.field_events_exists:after {
	content: ' ';
	width: 16px !important;
	height: 16px !important;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH4QUMDhoDsEDUJAAAAcRJREFUOMvFkzFoE2EYhp8/5nqX0MQ0SXMqSAcPmsHWkCJEOoggdHMWCs6Kiw6Cg9BS7CrFydXBwUkcS7EiSDmXLBaupaXQQZNoEnMJOS53ufsdVErsWRfBb/s+vvd5f37eD/53iahh227JvS8H9D0HLa5SPGOQPZ2P3I3/Ltyp73Hz+V3eNEyChCDlqlwplNjaNWVRN8hmRkEjzdauKa8/W8QpKxizOgB936dmtUlWfTZuv2B+ujKiiR25N+XS+hpOWeHWjRlezTxh7nyOmuPAlIZTVlheX6PdacpIgFXfZ7NhYszqPEg95FFrhZfbB0ebUxqbDROrsU8kwPUHBIkfr3vcWeW1dXjsw4KEwPUH0QBNUUm5Kn3fH3X+Vd+GpFwVTRmLBhR1g0qhRM1qR4rpDqkULlHUjWhALpMXywv3SFZ9OHSPiZNVn6WF++Qyk+LEIL3bfi9XNp7y9vMHwlMQD2Nc1S9zp7TItbl5cifloNexZbPV5tPXOh9rO4RhSCwW4+LZac7ldCbzWdITE+KPSRwGQ2y7R+AGFNMXfloIQjfEtrukU+N/v4V+tycHnofneUgpEUKgxBVUbYzxdFr882v8Dq8gsCL2VAbCAAAAAElFTkSuQmCC');
	padding-left: 16px;
	background-repeat: no-repeat;
}
/**/

.panel > .panel-heading *[data-itemtype="back_master"]>.btn-link {
	color: inherit;
}