#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: normal;
}

#pestanas ul{
    margin-left: -40px;
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: #0062cc54;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #b5b3b0;
    border-bottom: gray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: #000000;
}

#contenidopestanas{
    clear: both;  
    background: #ffffff;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 1px solid #b5b3b0;;
    width: 1250px;
    height: 600px;      /*Tamaño del conetenido de la ventana*/
}