/* Estilos para la Página de Dibujo de Historias Clínicas */
#hca_form label {
    font-size: smaller;
    display: block;
    width: 100%;
    margin-top: 5px;
}

input:focus {                                           /* Color de fondo al ingresar al control de tipo input*/
    background-color: #fdfd96;
}

hr.style4 {                                             /* Estilo para separadores horzontales */
    border-top: 1px dotted #8c8b8b;
}

laber_hc {
    font-size: smaller !important;
}
